---

import UProfile from "../../components/dashboard/UProfile.svelte";
import getUserData from "../../firebase/auth/getUserData";
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import { fetchUserInfo } from "../../services/api/fetchUserInfo";
import type { User } from "firebase/auth";
const sessionCookie = Astro.cookies.get("session")?.value ?? null;
const user = await getUserData(sessionCookie);
if (!user) {
  return Astro.redirect("/signin");
}
const id = user.uid;
const userData = await fetchUserInfo(id)
if(!userData) {
  return Astro.redirect("/404")
}


---
<DashboardLayout title="Account - LearnBetter!" descrption="Edit or change your details on LearnBetter!">
<div class="dash-cont">
    <h1>
        Account
        
       
    </h1>
    <section>
      <UProfile uid={id} user={userData} />
    </section>
    <section>
      Composition chart
    </section>

</div>
</DashboardLayout>

<script>
</script>