---

import UProfile from "../../components/dashboard/UProfile.svelte";
import getUserData from "../../firebase/auth/getUserData";
import DashboardLayout from "../../layouts/DashboardLayout.astro";


const sessionCookie = Astro.cookies.get("session")?.value ?? null;

const user = await getUserData(sessionCookie);

if (!user) {
  return Astro.redirect("/signin");
}


---
<DashboardLayout title="Account - LearnBetter!" descrption="Edit or change your details on LearnBetter!">
<div class="dash-cont">
    <h1>
        Account
        
       
    </h1>
    <UProfile {user} client:visible/>
    <section>
      Composition chart
    </section>

</div>
</DashboardLayout>

<script>
</script>