---
import DashboardLayout from "../../layouts/DashboardLayout.astro"
---
<DashboardLayout title-="FAQ page" description="Read through the most popular asked questions about us and our website">
    <div class="faq">
        <h2 class="faq__title">Frequently Asked Questions</h2>
        <div class="faq__questions">
            
        </div>
    </div>
</DashboardLayout>