---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
---

<DashboardLayout title="Help page" description="Need help with anything? Send us an email">
    <div class="help">
        <h1>Help</h1>
    </div>
</DashboardLayout>