---
import DashboardLayout from "../../layouts/DashboardLayout.astro"
---
<DashboardLayout>
    <div class="dash-cont">
        <h1>
            Today's Lesson
        </h1>
    </div>
</DashboardLayout>
