---
import { getAuth } from "firebase-admin/auth";
import { app } from "../../firebase/server";
import Layout from "../../layouts/DashboardLayout.astro";
import { userStore } from "../../stores/userStore";
import Dashboard from "../../components/dashboard/Dashboard.svelte";
const auth = getAuth(app);

/* Check current session */
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}
const session = Astro.cookies.get("session");
if (!session) {

  console.log("No session found");
  return Astro.redirect("/signin");
}
const decodedCookie = await auth.verifySessionCookie(session.value);
const user = await auth.getUser(decodedCookie.uid);

if (user) {
  userStore.set(
  {
    email: user.email,
    name: user.displayName,
    
  });
  
} else {
  console.log("No user found");
  return Astro.redirect("/signin");
}
---

<Layout title="Dashboard" description="See your current progress and analytics">
  <p>Welcome {user.displayName}, {user.uid}</p>
  <Dashboard uid={user.uid} client:only/>
  
</Layout>

<script>

</script>