---
import { getAuth } from "firebase-admin/auth";
import { app } from "../../firebase/server";
import Layout from "../../layouts/DashboardLayout.astro";
import { userStore } from "../../stores/userStore";
const auth = getAuth(app);

/* Check current session */
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}
const session = Astro.cookies.get("session");
if (!session) {

  console.log("No session found");
  return Astro.redirect("/signin");
}
const decodedCookie = await auth.verifySessionCookie(session.value);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  console.log("No user found");
  return Astro.redirect("/signin");
}
userStore.set(
  {
    email: user.email,
    name: user.displayName,
    UID: user.uid,
  }
  
);


---

<Layout title="dashboard">
  <h1>Welcome {user.email}</h1>
  <p>We are happy to see you here</p>
  <form action="/api/auth/signout">
    <button type="submit">signout</button>
  </form>
</Layout>

<script>
  import '../../scripts/menu.js';
import '../../scripts/menu.js';


import { onAuthStateChanged } from 'firebase/auth';
import { auth } from "../../firebase/client";


let isAuthInitialized = false;

onAuthStateChanged(auth, (user) => {
  if (!isAuthInitialized) {
    // This is the first time the listener is triggered. The authentication state is now initialized.
    isAuthInitialized = true;
  }

  if (user) {
    // The user is signed in.
    console.log(user);
  } else {
    // The user is signed out.
    console.log('No user');
  }
});
</script>