---
import { getCollection, type CollectionEntry } from 'astro:content';
import LessonTracker from '../../../components/LessonTracker.svelte';
import getUserData from '../../../firebase/auth/getUserData';
import PremiumBlogPost from '../../../layouts/PremiumBlogPost.astro';


const posts = await getCollection('blog');
type Props = CollectionEntry<'blog'>;

const { slug } = Astro.params;
const post = posts.find((page) => page.slug === slug);
if (!post) return Astro.redirect("ErrorPage");
const { Content } = await post.render();
const tags = post.data.tags;

const sessionCookie = Astro.cookies.get("session")?.value ?? null;

const userData = await getUserData(sessionCookie);


---

<PremiumBlogPost {...post.data}>
	<Content />
	<section class="container">
		<h2>Related Posts</h2>
	<ul>
		{tags && tags.map((tag:string) => (
			<li> <a href={`/dashboard/categorical_tags/${tag}`}>{tag}</a></li>
		))}
	</ul>
  <LessonTracker 
    userId={userData.uid}
    user = {userData}
    lesson={{
      title: post.data.title,
      category: post.data.category,
      points: 10,
      id: post.data.title}}
    category={{
      name: post.data.category,
      id: post.data.category,
      totalCompletedLessons: 10,
    }}
    client:only />


</section>
</PremiumBlogPost>

<style lang="scss">
	
    .container {
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
	    margin-top: 2rem;
      /* Custom scrollbar for Chrome, Safari and Opera */
    }
    ul {
      display: flex;
      flex-flow: row wrap;
	    justify-content: flex-start;
      list-style:none;
      scroll-behavior: smooth;
	}
    li {
      margin: 0 0.5rem 0.5rem 0;
      padding: 0rem 0.5rem;
      border-radius: 0.5rem;
      min-width: max-content;
      background-color: rgba(78, 175, 255, 0.3);
      display: inline-block;

      &:hover {
        background-color: rgba(78, 175, 255, 0.5);
      }
    }
    a {
      text-decoration: none;
      color: var(--color-text);
    }
    p {
      margin-right: 1rem;
    }
</style>
