---
import { getAuth } from "firebase-admin/auth";
import { app } from "../firebase/server";
import DashboardLayout from "../layouts/DashboardLayout.astro";
import { userStore } from "../stores/userStore";
const auth = getAuth(app);

/* Check current session */
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}
const session = Astro.cookies.get("session");
if (!session) {

  console.log("No session found");
  return Astro.redirect("/signin");
}
const decodedCookie = await auth.verifySessionCookie(session.value);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  console.log("No user found");
  return Astro.redirect("/signin");
}
userStore.set(
  {
    email: user.email,
    name: user.displayName,
    UID: user.uid,
  }
  
);


---

<DashboardLayout title="dashboard">
  <h1>Welcome {user.email}</h1>
  <p>We are happy to see you here</p>
</DashboardLayout>

</script>