---
import HeaderLink from "../HeaderLink.astro"
import Arrow from "./Arrow.astro"
import SiteName from "../SiteName.astro"


---

<script>
import "../../scripts/side_menu.js"
import "../../scripts/side_menu.js";
</script>
<header class="sidenav" id="sidenav">
  <nav class="sidebar">
   
      <ul>
        <li> <h2><a href="/"><SiteName /></a></h2></li>
        <li id="arrow-icon"><Arrow/></li>
        <li><HeaderLink href="/dashboard/main">Dashboard</HeaderLink></li>
        <li><HeaderLink href="/dashboard/lesson">Lessons</HeaderLink></li>
        <li><HeaderLink href="/dashboard/account">Account</HeaderLink></li>
        <li><HeaderLink href="/dashboard/settings">Settings</HeaderLink></li>
        <li><HeaderLink href="">
          <form action="/api/auth/signout">
            <button type="submit">signout</button>
          </form>
          </HeaderLink></li>
      </ul>
  </nav>
</header>
<style lang="scss">
  header {
		padding: 0 1em;

		box-shadow: 0 2px 8px rgba(var(--black), 5%);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 12rem;
    background-color: #f4f4f4;
    transition: all 0.3s ease;
    
		nav {
      display: flex;
      flex-direction: column;
			
      ul {
        position: absolute;
        width: 100%;
      }

			ul li {
				margin-right: 0rem;

			}
			h2 {
				margin: 0;
				font-size: 1em;

				a.active {
					text-decoration: none;
				}
			}
			
	}

		}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	ul {

		list-style: none;
		margin: 0;
		padding: 0;
		

		li {
			margin: 0;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
      

		}
		
	}
  #arrow-icon {
    display: none;
    transition: all 0.3s ease;
  }
  @media (max-width: 1190px) {
    #arrow-icon {
      display: block;
    }
    header.sidenav {
      width: 0;
      overflow-x: visible;
      position: fixed;
      box-shadow: none;
      background-color: transparent;

      ul li {
        &:not(:nth-child(2)){
          position: relative;
          left: -300%;
        }
      }
    }

    .sidenav.responsive {
      transition: all 0.3s ease;
      width: 200px;
      overflow: hidden;
      background-color: #f4f4f4;

      ul li {
          margin-right: 0rem;
          &:not(:nth-child(2)){
            position: relative;
            display: block;
            margin-left: 1rem;
            left: 0rem;
          }
          &:nth-child(2) {
            position: relative;
            
          }
        }

    }
  }

</style>