---
import HeaderLink from "../HeaderLink.astro"
import Arrow from "./Arrow.astro"



---
  <nav >
    <div id="arrow-icon" class="arrow-icon"><Arrow/></div>
      <div class="sidenav" id="sidenav">
        <li><HeaderLink href="/dashboard/main">Dashboard</HeaderLink></li>
        <li><HeaderLink href="/dashboard/premium_blog/">Courses</HeaderLink></li>
        <li><HeaderLink href="/dashboard/account">Account</HeaderLink></li>
        <li><HeaderLink href="/dashboard/settings">Settings</HeaderLink></li>
        <li><HeaderLink href="/dashboard/faq">FAQ</HeaderLink></li>
        <li><HeaderLink href="/dashboard/help">Help</HeaderLink></li>  
        <li><form action="/api/auth/signout"><button type="submit">signout</button></form></HeaderLink></li>
      </div>
      
  </nav>

<style lang="scss">
  nav {
		width: 300px;
    height: 100svh;
		box-shadow: .5rem 10px 10px rgba(black, 50%);
    border-top: 1px solid var(--text-color);
    position: fixed;
    top: 4rem;
    left: 0;
    transition: all 0.3s ease;
    z-index: 800;
    background: var(--nav-color);
    font-size: medium;

    a {
      border-bottom: 4px solid transparent;
      }

    a.active {
			text-decoration: none;
      border-bottom-color: var(--link-hover);
			}	
	}
  div.sidenav {
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    position: absolute;
    width:100%;
    
      }
  li {
    list-style: none;
    transform: translateX(3rem);
  }
	nav a {
		padding: 1em 0rem;
		color: var(--text-color);
		text-decoration: none;
	}

  .arrow-icon {
    display: none;
    transition: all 0.3s ease;
    
  }
  @media (max-width: 1480px) {
    .arrow-icon {
      display: block;
      position: relative;
      transform: translateX(1rem);
      z-index: 900;
      
    }
    nav {
      width: 0px;
    }
    div.sidenav {
      overflow: hidden;
      width: 0px;
      transform: translateY(-50px);

    }

    nav:has(.responsive) {
      width: 12rem;
      transition: all 0.3s ease;
      .sidenav {
        transition: all 0.3s ease;
        width: 200px;
        overflow: hidden;
      }
        .arrow-icon {
        transform: translateX(10rem);
      }
      
    }

  }
</style>