---
import "../styles/global.scss";
import Hamburger from './Hamburger.astro';
import HeaderLink from './HeaderLink.astro';
import SiteName from './SiteName.astro';
import ThemeIcon from "./ThemeIcon.astro";


---

<header>
	<nav class="topnav" id="topnav">
		<h2 class="site-name"><a href="/">
			<SiteName />
		</a></h2>
		
		<ul class="nav-bar">
			<li class="hamburger-icon" id="hamburger-icon"><Hamburger/></li>
			<li><HeaderLink href='/'>Home</HeaderLink></li>
			<li><HeaderLink href='/blog'>Explore</HeaderLink></li>
			
			<li id="sign-in"><HeaderLink href='/dashboard/main'>Dashboard</HeaderLink></li>
			<li><HeaderLink href='/about'>About</HeaderLink></li>

	
		</ul>
		<div class="theme-button">
			 <div><ThemeIcon/></div>
		</div>
	</nav>

</header>


<style lang="scss">
	header {
		margin: 0;
		height: 4rem;
		padding: 0 0rem;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		z-index: 100;
		position: sticky; 
		top:0%;
		nav {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 4rem;
			
			padding: 0rem 0rem 0rem 0rem;
			h2 {
				font-size: 1em;
			}	
		}
	}
	.site-name {
		padding-left: 1rem;
	}
	.sign-in {
			display: none;
		}
	nav a {
		padding: .5em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;

		

		li {
			margin: 0;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;

			&:first-child {
				display: none;
			}
		}
		
	}
	@media screen and (max-width: 720px) {
		.theme-button {
			background-color: transparent;
			width: 100%;
			display: flex;
			justify-content: center;
			position: absolute;
			z-index: 1;
			
			
		}
		.site-name {
			z-index: 2;
		}
		
		.sign-in {
			display: block;
		}
		
		.nav-bar {
			flex-direction: column;
			position: relative;
			padding-top: 1rem;
			li {
				&:first-child {
					display: block;
					justify-content: flex-end;
					align-self: flex-end;
					z-index: 2;
					padding-right: 2rem;
					
					
					
					
				}
				&:not(:first-child) {
					display: none;
					width: 100svw;
					align-self: flex-start;
					text-align: center;

					&:hover {
						background: aqua;	
					}
				}
			}
		}
		
		
		.topnav.responsive {
			transition: all .3s ease-in;
			position: relative;
			z-index: 1000;
			
			h2 {
				left: 0.5rem;
				width: 100%;
			}
			.theme-button {
				transition: all .3s ease-in;
				display: none;
			}

			
		}
		.topnav.responsive ul {
			position: absolute;
			display: flex;
			margin-right: -1rem;
			
			top:1rem;
			
			
			
			box-shadow: 0 10px 10px rgba(var(--black), 80%);
			li:not(:first-child) {
				float: none;
				display: block;
				text-align: center;
				width: 100svw;
			}
			li:first-child {
				display: flex;
				transform: translateY(-.2rem);
				justify-content: flex-end;
				align-self: flex-end;
				position: relative;
				left: -1rem;
				transition: all .3s ease-in;
				width: fit-content;
				
				
			}
		}
	}

</style>
