---
import { ViewTransitions } from "astro:transitions";
import "../styles/global.scss";
import Hamburger from './Hamburger.astro';
import HeaderLink from './HeaderLink.astro';
import SiteName from './SiteName.astro';
import ThemeIcon from "./ThemeIcon.astro";


---
<head>
	<ViewTransitions />
</head>

<header>
	<nav class="topnav" id="topnav">
		<h2 class="site-name"><a href="/">
			<SiteName />
		</a></h2>
		<li class="hamburger-icon" id="hamburger-icon"><span class="hanburger-wrapper"><Hamburger /></span></li>
		<div class="nav-bar">
			
			<li><HeaderLink href='/'>Home</HeaderLink></li>
			<li><HeaderLink href='/blog'>Explore</HeaderLink></li>
			
			<li id="sign-in"><HeaderLink href='/dashboard/main'>Dashboard</HeaderLink></li>
			<li><HeaderLink href='/about'>About</HeaderLink></li>

	
		</div>
		<div class="theme-button">
			 <div><ThemeIcon  /></div>
		</div>
	</nav>

</header>


<style lang="scss">
	header {
		height: 4rem;
		width: 100%;
		position: fixed;
		background-color: var(--nav-color);
		top:0%;
		box-shadow: 0 2px 8px rgba(var(--text-color), 100%);
		z-index: 100;
		margin: 0;
		
		nav {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 100%;
			background-color: var(--nav-color);
			
			
				
		}
	}
	.site-name {
		padding-left: 2rem;
		font-size: 1.3rem;
	}

	nav a {
		padding: .5em 0.5em;
		color: var(--text-color);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--link-hover);
	}
	li {
		list-style: none;
	}

	.nav-bar {
		display: flex;	
		background-color: var(--nav-color);

		li {
			
			background-color: var(--nav-color);
		}
		
	}
	.theme-button {
		padding-right: 3rem;
	}
	.hamburger-icon {
		display: none;
	}
	@media screen and (max-width: 600px) {
		.theme-button {
			background-color: transparent;
			width: 100%;
			display: flex;
			justify-content: center;
			position: absolute;
			z-index: 1;
		}
		.hamburger-icon {
			display: block;
			position: absolute;
			top: 1rem;
			right: 1rem;
			z-index: 2;
		}
		.site-name {
			z-index: 2;
		}
		
		.sign-in {
			display: block;
		}
		
		.nav-bar {
			flex-direction: column;
			position: absolute;
			width: 100svw;
			top: 4rem;
			height: 0rem;
			overflow-y: hidden;
			box-shadow: 0 10px 10px rgba(black, 50%);
			transition:  height .5s ease;
			
			li {
					
					width: 100svw;
					align-self: flex-start;
					text-align: center;

					&:hover {
						background: aqua;	
					}
			}
		}
		
		
		.topnav.responsive {
			transition: all .3s ease-in;
			position: relative;
			z-index: 1000;
			
			h2 {
				left: 0.5rem;
				width: 100%;
			}
			.theme-button {
				transition: all .3s ease-in;
				display: none;
			}

			
		}
		.topnav.responsive .nav-bar {
			position: absolute;
			display: flex;
			height: 14rem;
			margin-right: -1rem;	
			top:4rem;
			box-shadow: 0 10px 10px rgba(black, 50%);
			padding-top: 0rem;
			li {
				float: none;
				display: block;
				text-align: center;
				width: 100svw;
			}
		
		}
	}

</style>
