---
---

<div class="site-name">
    <span>Learn</span><span>Better!</span>
</div>

<style>
    span:nth-child(1) {
        color: #000;
    }
    span:nth-child(2){
        color: #07b4ee;
    }
</style>
