---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/svelte/FormattedDate.svelte';
import Header from '../../components/Header.astro';

import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
import "../../styles/global.scss";

import PlaylistItem from '../../components/index/PlaylistItem.astro';
import Carousel from "../../components/svelte/Carousel.svelte"
import Card from "../../components/svelte/Card.svelte"
import StackedCardList from '../../components/index/StackedCardList.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
).reverse();
const categories = posts.map((post:any) => post.data.category);
const uniqueCategories = [...new Set(categories)]; // remove duplicates
const categorizedPosts = uniqueCategories.map((category:any) => {
     return {
         category: category,
         posts: posts.filter((post:any) => post.data.category === category),
         name: category.charAt(0).toUpperCase() + category.slice(1),
     }
 });

 
---

<!doctype html>
<html lang="en">
	<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<style lang="scss">
	main {
		width: 960px;

	}
	section {
		margin-bottom: 2rem;
		z-index: 1;
		max-height: fit-content;

		&:not(:first-child) {
			margin-top: 2rem;
			}
				
	}
		
		</style>
	</head>
	<body>
		<Header />
		
		<main>
			<StackedCardList allCards={posts} />
			<p>Test</p>
		</main>
		<Footer />
	</body>
</html>
<script>
    
</script>


