---
import { getCollection } from 'astro:content';
import BaseHead from '../../../components/BaseHead.astro';
import Footer from '../../../components/Footer.astro';
import Header from '../../../components/Header.astro';
import Playlist from '../../../components/page/Playlist.astro';
import PlaylistItem from '../../../components/page/PlaylistItem.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../../consts';



export async function getStaticPaths(): Promise<any> {
    const allPosts = await getCollection('blog');
	if (allPosts) {
		const uniqueTags = [ ...new Set(allPosts.map(post => post.data.tags).flat()) ];
    
		return uniqueTags.map((tag: any )=> {
			const filteredPosts = allPosts.filter(post => post.data.tags.includes(tag));
			return {
				params : { tag },
				props : { posts : filteredPosts }
			}
		});
	} else {
		return {
			params : { tag : 'NO TAG' },
			props : { posts : [] }
		}
	}

    
}
export const prerender = true;

const { posts } = Astro.props as { posts: any[] };

---
<!doctype html>

	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body>
		<Header />
		<main style="display: flex; flex-direction: column; width:1080px;">
			<section>
				<Playlist>
					{
						posts && posts.map((post, index) => (
									<PlaylistItem
									post={post}
									cardHeight={"18rem"}
									 />
						))
					}
				</Playlist>

			</section>
		</main>
		<Footer />
	</body>

<style lang="scss">
	section {
		&:has(.category-img){
			display: flex;
			justify-content: center;
			.category-img {
				width: 100%;
			}
		}
	}



</style>
<style lang="scss">
	
</style>