---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/dashboard/SideBar.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "./Layout.astro";

---
<Layout>
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <main>
        <div class="sidebar"><SideBar/></div>
        <slot />
    </main>
  <Footer />
</Layout>

<style>
    .sidebar {
        
    }
</style>